body{
  background-color: rgb(238, 235, 235);
}
.footer {
  color: rgb(145, 144, 144);
}
.footer2 {
  left: 0;
  bottom: 0;
  width: 100%;
}
a{
  text-decoration: none;
}
.margin{
  margin-top: 30%;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 68%;
}
.margin2{
  margin-top: 30%;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 44%;
}